{% extends './base.html' %}

{% block content %}
<div class=" text-center">
    {% if user_list %}

<ul>
    <li>{{ user_list.name }}</li>
    <li>{{ user_list.emergency }}</li>
    <hr/>

</ul>
{% else %}
<p>No Users Avaliable.</p>
{% endif %}
<button href="{% url 'deposit' pk=user_list.pk %}"> Deposit </button>
{% if user_deposits %}
<ul>
    {% for eachDEPO in user_deposits %}
    <li>{{ eachDEPO.amount}}</li>
    <hr/>
    {% endfor %}
</ul>
{% else %}
<p> No User deposits. </p>
{% endif %}
<button href="{% url 'withdraw' pk=user_list.pk %}">Withdrawal</button>
{% if user_withdarawls %}
<ul>
    {% for eachWithdrawl in user_withdarawls %}
    <li>{{ eachWithdrawl.amount}}</li>
    <hr/>
    {% endfor %}
</ul>
{% else %}
<p> No User withdrawals </p>
{% endif %}
</div>
{% endblock %}
