
{# Testing here #}
{% load static %}
<link rel="stylesheet" href="{% static 'forms_app/bootstrap.css' %}">
<div class="jumbotron">
    <p>User DataBase</p>

    {% if user.is_authenticated %}
    User: {{ user.get_username }}
    {% else %}
    Users is not logged in
    {% endif %}
</div>
{% if user_list %}
<ul>
    {% for eachUser in user_list %}
    <li>{{ eachUser.name }}</li>
    <li>{{ eachUser.emergency }}</li>
    <hr/>

    {% endfor %}
</ul>
{% else %}
<p>No Users Avaliable.</p>
{% endif %}
<script src="{% static 'forms_app/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'forms_app/bootstrap.js' %}"></script>
